@tailwind base;
@tailwind components;
@tailwind utilities;

@tailwind base;

h1 {
  @apply text-4xl font-bold;
}

h2 {
  @apply text-xl font-bold;
}

h3 {
  @apply text-lg font-bold;
}

h4 {
  @apply text-base font-semibold;
}

h5 {
  @apply text-lg font-bold;
}

@layer components {
  body {
    @apply text-gray-400 -tracking-tighter;
  }

  form {
    @apply bg-third p-10 rounded-xl;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .container {
    @apply flex min-h-screen min-w-full justify-around items-center place-content-center w-full;
  }

  .primary-bg-gradient {
    @apply bg-gradient-to-r from-[#1d86df] to-[#39b49a];
  }

  .primary-bg-gradient-50 {
    @apply bg-gradient-to-r from-[#1d86df50] to-[#39b49a50];
  }

  .primary-text-gradient {
    -webkit-background-clip: text;
    /* For older WebKit browsers */
    background-clip: text;
    color: transparent;
    @apply bg-gradient-to-r from-[#1d86df] to-[#39b49a];
  }

  .sidebar-active {
    @apply border-white bg-white bg-opacity-[15%];
  }

  .sidebar-item {
    @apply w-full p-4 ltr:border-l-4 rtl:border-r-4 border-transparent hover:sidebar-active;
  }

  .sidebar-item-link {
    @apply flex flex-row justify-start items-center gap-4;
  }

  .modal-content {
    @apply relative flex flex-col bg-white p-10 rounded-md items-center justify-start gap-8 overflow-y-auto w-full h-full;
  }

  .form-control {
    @apply border-2 rounded-md p-2 bg-primary focus:bg-third;
  }

  .form-wrapper {
    @apply flex flex-col gap-3 justify-center w-full;
  }

  .form-submit-button {
    @apply p-2 rounded-lg w-fit;
  }

  html,
  body {
    height: 100%;
  }

  body {
    background-attachment: 'fixed';
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: left top;
  }

  .theme {
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: top left;
    background-repeat: no-repeat;
    transition: background 0.9s;
  }

  body.bg-theme1 {
    background-image: url(/bg-themes/1.png);
  }

  body.bg-theme2 {
    background-image: url(/bg-themes/2.png);
  }

  body.bg-theme3 {
    background-image: url(/bg-themes/3.png);
  }

  body.bg-theme4 {
    background-image: url(/bg-themes/4.png);
  }

  body.bg-theme5 {
    background-image: url(/bg-themes/5.png);
  }

  body.bg-theme6 {
    background-image: url(/bg-themes/6.png);
  }

  body.bg-theme7 {
    background-image: linear-gradient(45deg, #0c675e, #069e90);
  }

  body.bg-theme8 {
    background-image: linear-gradient(567deg,
        rgba(165, 42, 4, 0.89),
        rgba(113, 102, 8, 0.89),
        rgba(13, 95, 16, 0.93),
        rgba(4, 79, 88, 0.94),
        rgba(19, 56, 86, 0.9),
        rgba(24, 32, 78, 0.94),
        rgba(100, 8, 115, 0.95));
  }

  body.bg-theme9 {
    background-image: linear-gradient(45deg, #29323c, #485563);
  }

  body.bg-theme10 {
    background-image: linear-gradient(45deg, #795548, #945c48);
  }

  body.bg-theme11 {
    background-image: linear-gradient(45deg, #1565c0, #1e88e5);
  }

  body.bg-theme12 {
    background-image: linear-gradient(45deg, #65379b, #886aea);
  }

  body.bg-theme13 {
    background-image: linear-gradient(180deg, #ff5447, #f1076f);
  }

  body.bg-theme14 {
    background-image: linear-gradient(180deg, #08a50e, #69bb03);
  }

  body.bg-theme15 {
    background-image: linear-gradient(45deg, #6a11cb, #2575fc);
  }
}